---
import { Image } from 'astro:assets'
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

import avatar from '@/assets/avatar.png'
import github from '@/assets/icons/social/github.svg'
import instagram from '@/assets/icons/social/instagram.svg'
import linkedin from '@/assets/icons/social/linkedin.svg'


const headings = [
  { depth: 2, slug: 'education', text: 'Education' },
  { depth: 2, slug: 'experience', text: 'Experience' },
  { depth: 2, slug: 'skills', text: 'Skills & Interests' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'about-website', text: 'About Website' }
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>
    I am passionate about Software Engineering, Robotics, and Control Systems and am actively learning about these fields. 
    Currently focused on humanoid robotics motion programming with the Altair Gadjah Mada Robotic Team.
  </p>
  <p>My motto: Stay curious, keep building. <Spoiler>Learning is a lifelong journey</Spoiler></p>
  <Button title='Contact Me' class='w-fit' href='/links' style='ahead' />

  {/* education */}
  <h2 id='education'>Education</h2>
  <p>Currently pursuing my degree in Electronics and Instrumentation at Universitas Gadjah Mada.</p>
  <ul>
    <li>Focus on robotics systems, embedded programming, and control systems</li>
    <li>Hands-on experience with various electronic instruments and design tools</li>
    <li>Research interests include motion control algorithms and robot kinematics</li>
  </ul>

  {/* experience */}
  <h2 id='experience'>Experience</h2>
  <p>Professional experiences that have shaped my career:</p>
  <ul>
    <li>Humanoid Motion Programmer at Altair Gadjah Mada Robotic Team</li>
    <li>Experience with ROS2 frameworks and C++ for robot programming</li>
    <li>Development of motion control systems for humanoid robots</li>
    <li>Implementation of kinematics and control algorithms for robot movement</li>
  </ul>

  {/* skills */}
  <h2 id='skills'>Skills & Interests</h2>
  <ul>
    <li>Programming Languages: C++, Python, JavaScript, Shell scripting</li>
    <li>Robotics: ROS2, Arduino, motion control, kinematics</li>
    <li>Software: CAD tools, embedded programming, control system design</li>
    <li>Web Development: React, TypeScript, Astro</li>
    <li>Interests: Robotics competitions, automation, IoT, embedded systems</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Tools and technologies I regularly use:</p>
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'Primary IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'ROS2',
        description: 'Robotics Framework',
        href: 'https://docs.ros.org/en/humble/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Ubuntu',
        description: 'Primary OS',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'Windows',
        description: 'Secondary OS',
        href: 'https://www.microsoft.com/windows/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    You can find me on the following platforms. Feel free to connect!
  </p>
  <Button title='Find me in' class='w-fit self-end' href='/links' style='ahead' />
  <p/>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/Lexciese',
        text: 'followers',
        api: 'github/Lexciese'
      },
      {
        platform: 'LinkedIn',
        icon: 'linkedin',
        color: '#0077b5',
        link: 'https://www.linkedin.com/in/falahnzk/',
      },
      {
        platform: 'Instagram',
        icon: 'instagram',
      }
    ]}
  />

  {/* about-website */}
  <h2 id='about-website'>About Website</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2025-04-12',
        content:
          'Website created using <a href="https://astro.build/" target="_blank">Astro</a> and <a href="https://github.com/cworld1/astro-theme-pure" target="_blank">Astro Theme Pure</a>'
      }
    ]}
  />
  <p>
    This website is built using the following technologies:
  </p>
  <ul>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://github.com/Lexciese/lexciese.github.io' target='_blank'>GitHub Pages</a>
    </li>
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>
