---
import { Image } from 'astro:assets'

import type { iconsType } from 'astro-pure/types'
import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import KeyIcon from '@/assets/icons/key.svg'
import linkedin from '@/assets/icons/social/linkedin.svg'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'github', text: 'GitHub' },
  { depth: 2, slug: 'projects', text: 'Projects' },
  { depth: 2, slug: 'organizations', text: 'Organizations' },
  { depth: 2, slug: 'contact', text: 'Contact' }
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <h2 id='github'>GitHub</h2>
  <p>GitHub Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/lexciese'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    Electronics and Instrumentation undergrad student at Universitas Gadjah Mada. 
    Passionate about Software Engineering, Robotics, and Control Systems.
  </p>

  <h2 id='projects'>Projects</h2>
  <ProjectSection
    project={[
      {
        name: 'ðŸŒ lexciese.github.io',
        description: 'Personal portfolio website built with Astro',
        links: [
          { type: 'github', href: 'https://github.com/Lexciese/lexciese.github.io' }
        ]
      },
      {
        name: 'ðŸš— mobil-mobilan',
        description: 'Python-based project for vehicle simulation',
        links: [
          { type: 'github', href: 'https://github.com/Lexciese/mobil-mobilan' }
        ]
      },
      {
        name: 'âš ï¸ bmkg-earthquake-alert-esp32',
        description: 'Integration of BMKG\'s real-time earthquake data with ESP32 to notify users of seismic activity. With customizable thresholds for distance and magnitude.',
        links: [
          { type: 'github', href: 'https://github.com/Lexciese/bmkg-earthquake-alert-esp32' }
        ]
      },
      {
        name: 'ðŸ¦¾ welding-arm-aubo-i3',
        description: 'Python implementation for controlling the Aubo i3 robotic arm for welding applications',
        links: [
          { type: 'github', href: 'https://github.com/Lexciese/welding-arm-aubo-i3' }
        ]
      }
    ]}
  />

  <h2 id='organizations'>Organizations</h2>
  <ProjectSection
    project={[
      {
        name: 'Altair-Humanoid-GMRT',
        description: 'Gadjah Mada University Robotics Team',
        links: [{type: 'instagram', href: 'https://www.instagram.com/altair_ugm/'}, { type: 'github', href: 'https://github.com/Altair-Humanoid-GMRT' }]
      },
    ]}
  />

  <h2 id='contact'>Contact</h2>
  <p>
    If you would like to collaborate on a project or have any questions, feel free to reach out!
  </p>
  <div class="flex gap-4 my-4">
    <Button href="mailto:falahnzk@gmail.com" title='Email me' target='_blank'>
      <Icon class='size-5' name='email' slot='before' />
      Email
    </Button>
    <Button href="https://www.linkedin.com/in/falahnzk/" title='LinkedIn Profile' target='_blank'>
      <Icon class='size-5' name='link' slot='before' />
      LinkedIn
    </Button>
  </div>
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>
