body {
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.050), rgba(0, 0, 0, 0.4)), url("https://lh6.googleusercontent.com/proxy/g3MNRR4S0VBk1KWmTem8W_eoNZkjk4v5AKsQ4tUYpp4_ISwDFXdLwYQVPklvs0FjC6gGCbi1TqTgB3YNS6qSV80X3LozHJYmmHImtTqinxPl=w3840-h2160-p-k-no-nd-mv"); opacity: 1; */
    /* background-image: url("https://lh6.googleusercontent.com/proxy/g3MNRR4S0VBk1KWmTem8W_eoNZkjk4v5AKsQ4tUYpp4_ISwDFXdLwYQVPklvs0FjC6gGCbi1TqTgB3YNS6qSV80X3LozHJYmmHImtTqinxPl=w3840-h2160-p-k-no-nd-mv"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    visibility: visible;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}


.container{
    margin: 0px;
    padding: 5px;
    z-index: 1;
}


.container-fluid{
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.nav {
    padding-right: 40px;
    padding-left: 40px;
}

#suhu {
    font-size: 35px;
    color: white;
    font-weight: 600;
    margin: 0px;
}

#icon {
    height: 75px;
    width: 75px;
    padding: 0px;
    margin: 0px;
}
#card {
    z-index: 2;
    position: absolute;
}



#txt1 {
    text-align: center;
    font-size: 70px;
    color: white;
    font-weight: 700;
    letter-spacing: 10px;
    padding-top: 5px;
    min-width: 50%;
    min-inline-size: 30px;
}


#txt2 {
    padding-top: 0px;
    padding-bottom: 40px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    min-width: 50%;

}



#btn {
    visibility: hidden;
}






